.event-list {
  padding: 20px;

  margin: 0 auto;
  font-family: 'Segoe UI', sans-serif;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.event-cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}


.event-card {
  background-color: rgba(255, 255, 255, 0.27);
  border-radius: 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 16px 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-header h4 {
  margin: 0;
  font-size: 18px;
  color: #b8b8b8;
}

.event-date {
  font-size: 14px;
  color: #ffffff;
}

.event-description {
  margin: 10px 0;
  color: #ffffff;
  font-size: 15px;
}

.event-footer {
  font-size: 14px;
  color: #ffffff;
  text-align: right;
}

.no-events {
  text-align: center;
  font-style: italic;
  color: #ffffff;
  font-size: 16px;
}
