<div class="form-container">
  <h3 class="form-heading">Create Event</h3>

  <label for="name">Name</label>
  <input id="name" type="text" placeholder="Name" [(ngModel)]="name" />

  <label for="description">Description</label>
  <textarea id="description" placeholder="Description" [(ngModel)]="description"></textarea>

  <label for="dateTime">Date & Time</label>
  <input id="dateTime" type="datetime-local" [(ngModel)]="dateTime" />

  <label for="attendanceLimit">Attendance Limit</label>
  <input id="attendanceLimit" type="number" placeholder="Attendance Limit" [(ngModel)]="attendanceLimit" />

  <div class="buttons">
    <button class="btn btn-primary" (click)="create()">Create</button>
    <button class="btn btn-outline" (click)="close.emit()">Cancel</button>
  </div>
</div>
