<div class="dashboard-container">
  <h2>Welcome, {{ username }}</h2>
  <p>Guild: {{ guildName }}</p>

  <div class="event-section">
    <app-event-list
      [guildId]="guildId"
      [events]="events"
      (selectEvent)="onSelectEvent($event)">
    </app-event-list>

    <app-event-details
      [event]="selectedEvent"
      [isLeader]="isLeader"
      [username]="username"
      (joinEvent)="join($event)"
      (exitEvent)="exit($event)"
      (deleteEvent)="delete($event)"
      (modifyEvent)="onModify($event)">
    </app-event-details>

  </div>

  <div *ngIf="isLeader" class="action-button">
    <button (click)="openCreateEvent()">Create Event</button>
  </div>


  <app-create-event
    *ngIf="showCreateForm"
    [guildId]="guildId"
    (close)="closeCreateEventForm()"
  ></app-create-event>
</div>
